jupyter
numpy
pandas
scipy
beautifulsoup4
requests
statsmodels
matplotlib
seaborn
keras
tensorflow
sklearn

# NLP
nltk
textblob
regex
gensim
pyLDAvis
afinn
vaderSentiment

# RL
pyglet==1.2.4
gym
networkx
protobuf
tabulate
