jupyter
numpy
pandas
scipy
beautifulsoup4
requests
statsmodels
matplotlib
pydot
seaborn
GraphViz

# Deep Learning
keras
tensorflow
sklearn

# NLP
nltk
textblob
regex
gensim
pyLDAvis
afinn
vaderSentiment
