# Jupyter
jupyter
ipykernel

# Data Structures
numpy
pandas

# Web Scraping
beautifulsoup4
requests

# Machine Learning
scipy
sklearn
statsmodels

# Plotting
matplotlib
seaborn

# Deep Learning
keras
tensorflow
GraphViz
pydot

# Images
imageio
tifffile
# NLP
nltk
textblob
regex
gensim
pyLDAvis
afinn
vaderSentiment

# RL
pyglet==1.2.4
gym
networkx
protobuf
tabulate
