<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Lightweight Linear Algebra Encryptor</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>32010 Linear Algebra Encryptor</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="options"></label><br>
      <input type="radio" name="options" id="option1" value="encrypt"> Encrypt </input><br>
      <input type="radio" name="options" id="option2" value="decrypt"> Decrypt </input><br>
      <br>
      <label for="message">Message:</label>
      <input type="text" class="form-control" id="message" name="message" placeholder="What's your message?">
      <br>
      <label for="key">Key:</label>
      <input type="text" class="form-control" id="key" name="key" placeholder="Write your key as 4 numbers. Ex: 1, 2, 10, 15">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>      
</div>
</div>
</body>
</html>